<div class="banner">
  <section id="section">
    <!-- 图片播放功能 -->
    <div class="bannerPane">
      <section class="slider">
        <div class="flexslider">
          <ul class="slides">
            <li><%=image_tag 'banner01.jpg' %></li>
            <li><%=image_tag 'banner02.jpg' %></li>
          </ul>
        </div>
      </section>
    </div>
  </section>
</div>
<div class="main">

  <table style="margin-top:10px;width: 100%;" align="center">
    <tr>
      <td width="25%"><a href="tuijian.html"><%= image_tag 'express.png',width:"80%" %></a></td>
      <td width="25%"><a href="tuijian.html"><%= image_tag 'news.png',width:"80%" %></a></td>
      <td width="25%"><a href="tuijian.html"><%= image_tag 'zoujin.png',width:"80%" %></a></td>
      <td width="25%"><a href="tuijian.html"><%= image_tag 'shipinhui.png',width:"80%" %></a></td>

    </tr>
    <tr>
      <td width="25%"><a href="tuijian.html"><%= image_tag 'bianmin.png',width:"80%" %></a></td>
      <td width="25%"><a href="tuijian.html"><%= image_tag 'dianbo.png',width:"80%" %></a></td>
      <td width="25%"><a href="tuijian.html"><%= image_tag 'zhengwu.png',width:"80%" %></a></td>
      <td width="25%"><a href="tuijian.html"><%= image_tag 'lvyou.png',width:"80%" %></a></td>
    </tr>
    <tr>
      <td width="25%"><a href="tuijian.html"><%= image_tag 'fabu.png',width:"80%" %></a></td>
      <td width="25%"><a href="tuijian.html"><%= image_tag 'jiedao.png',width:"80%" %></a></td>
      <td width="25%"><a href="tuijian.html"><%= image_tag 'liantong.png',width:"80%" %></a></td>
      <td width="25%"><a href="tuijian.html"><%= image_tag 'huodong.png',width:"80%" %></a></td>
    </tr>
  </table>
</div>
<div style="clear:both;"></div>
<br/>
